@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html{
  margin:0;
  padding:0;
}

body{
  min-height:100vh;
  min-width:100vw;
  background-image: url("https://preview.redd.it/61wkodll5zky.jpg?auto=webp&s=5671a107a2b1feb63cee168f96cb50c0e179b786");
  background:linear-gradient(to right bottom,rgba(blue,0.5),rgba(green,0.5)),url(http://i.imgur.com/woUbg3p.jpg);
  background-size:cover;
  background-position:center center;
  display:flex;
  justify-content:center;
  align-items:center;
}
